<div class="container">
  <div *ngIf="products.length == 0" class="alert alert-danger">
    No products Found
  </div>
  <div class="row">
    <div *ngFor="let product of products" class="col-lg-4 col-md-3 col-sm-2">
      <div class="card m-2">
        <a
          routerLink="/products/{{ product.id }}"
          style="text-decoration: none"
        >
        <img
          [src]="product.imageUrl"
          [alt]="product.imageUrl"
          class="card-img-top img-responsive"
          style="width: 150px"
        />
        </a>
        <div class="card-body">
          <h5 class="card-title">
            {{ product.name }}
          </h5>
          <p class="card-text">
            {{ product.unitPrice | currency : "INR" }}
          </p>
          <button (click)="addToCart(product)" class="btn btn-primary btn-sm">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
