<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="about-us.component.css">
</head>

<body>
    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <p>
                Welcome to FURNITURE STORE, Our furniture is crafted with the finest materials to ensure durability and elegance.
                From modern to classic, we offer a wide range of styles to suit every taste and home decor.Our friendly and
                 knowledgeable staff are here to help you find exactly what you need to make your home truly yours.
            </p>
        </section>
        <div class="about-image">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/51271099873963.5efc6dd26e84f.jpg"
                alt="Bookstore">
        </div>
    </main>

</body>

</html>
